<style>
    .header {
        font-family: Arial, Helvetica, sans-serif;
        color: white;
        background-color: DarkCyan;
        padding-top: 3em;
        padding-right: 3em;
        padding-bottom: 2em;
        padding-left: 4em;
    }
    .name-page {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size:40px;
        font-weight: bold;
        background-color: lightseagreen;
        padding-top: 2em;
        padding-right: 3em;
        padding-bottom: .5em;
        padding-left: 3em
    }
    .name-subtitle {
        color:white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 24px;
        font-style: italic;
        background-color: lightseagreen;
        padding-top: .5em;
        padding-right: 3em;
        padding-bottom: 2em;
        padding-left: 5em;
        margin-top: 0em;
    }
    .h3 {
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        padding-top: 2em;
        padding-right: 3em;
        padding-bottom: 0em;
        padding-left: 6em;
    }
    nav.top {
        background-color: LightGray;
        color: black;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding-top: 2em;
        padding-left: 7em;
        padding-right: 10em;
        padding-bottom: 2em;
    }
    nav.bottom {
        background-color: black;
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        padding-top: 2em;
        padding-left: 7em;
        padding-bottom: 2em;
    }
    p.bold {
        color: DarkCyan;
        font-size: 16px;
        line-height: 9pt;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
        padding-left: 7em;
    }
    p.quote {
        color: DarkCyan;
        font-size: 18px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 0pt;
        padding-top: .3em;
        padding-bottom: .3em;
        padding-left: 6em;
    }
    p.plain-text {
        color: black;
        font-size: 11pt;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 8pt;
        padding-left: 7em;
    }

    p.plain-text-white {
        color: white;
        font-size: 20pt;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 8pt;
        padding-left: 7em;
    }
    p.footer {
        color: white;
        background-color: black;
    }
    .word-color {
        color: DarkCyan;
    }
    img {
        padding-top: .3em;
        padding-bottom: .3em;
        padding-left: 7em;
    }
    .bottom {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20pt;
        background-color: black;
    }
</style>
